<template>
    <div class="main-title-box">
        <div class="title">{{ title }}</div>
    </div>
</template>
<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        }
    }
}
</script>
