<template>
    <div>
        <main-title title="'회원정보'" />
        <div>
            <div v-if="detailInfo !== null" style="border: 1px solid #252525 ">
                {{ detailInfo.id }}
                {{ detailInfo.gender }}
                {{ detailInfo.memberName }}
                {{ detailInfo.memberHeight }}
                {{ detailInfo.memberWeight }}
                {{ detailInfo.exerciseGrade }}
                {{ detailInfo.bmi }}
                {{ detailInfo.bmiState }}
            </div>
        </div>
    </div>
</template>
<script>
export default {
    middleware: 'anonymous',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null,
            ruleForm: {
                comment: '',
            },
            rules: {
                comment: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:100, message:'2~100자 내로 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        doSetComment() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setComment()
                } else {
                    return false
                }
            })
        },
        setComment() {
            let payload = {
                id : this.detailInfo.id,
                data: {
                    comment: this.ruleForm.comment,
                }
            }

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_CREATE_COMMENT, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/customer/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
       // this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    },
}
</script>
