<template>
    <div>
        <main-title v-bind:title="title" class="txt-center" style="margin: 50px 0" />
        <div class="txt-right mr-2">
            <el-button type="success" circle @click.native="crateDialogVisible = true">등록</el-button>
        </div>
        <div style="font-size: 20px" class="mb-3" >
            <i class="el-icon-folder-opened">총 데이터 수는 {{ totalCount }}개 입니다.</i>
        </div>
        <el-table
            :data="list.filter(data => !search || data.memberName.toLowerCase().includes(search.toLowerCase())
            || data.exerciseGrade.toLowerCase().includes(search.toLowerCase())
            || data.bmiState.toLowerCase().includes(search.toLowerCase())
            || data.gender.toLowerCase().includes(search.toLowerCase())
            )"
            style="width: 100%"
            :default-sort = "{prop: 'id', order: 'descending'}"
        >
            <el-table-column label="순번" prop="id" width="100" sortable>
            </el-table-column>
            <el-table-column label="성별" prop="gender" width="100">
            </el-table-column>
            <el-table-column label="이름" prop="memberName" width="130">
            </el-table-column>
            <el-table-column label="키" prop="memberHeight" width="130">
            </el-table-column>
            <el-table-column label="몸무게" prop="memberWeight" width="130">
            </el-table-column>
            <el-table-column label="운동능력" prop="exerciseGrade" width="130">
            </el-table-column>
            <el-table-column label="bmi" prop="bmi" width="130">
            </el-table-column>
            <el-table-column label="현 상태" prop="bmiState">
            </el-table-column>
            <el-table-column align="right" width="250">
                <template slot="header" slot-scope="scope">
                    <el-input
                        v-model="search"
                        size="small"
                        placeholder="성별/이름/운동능력/현상태 검색"/>
                </template>
                <template slot-scope="scope">
                    <el-button type="primary" circle >수정</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog
            title="회원 등록"
            :visible.sync="crateDialogVisible"
            width="70%"
        >
            <el-form :model="createRuleForm" :rules="createRules" ref="createRuleForm" label-width="100px">
                <el-form-item label="성별" prop="gender">
                    <el-select v-model="createRuleForm.gender" placeholder="성별을 선택해주세요.">
                        <el-option label="남자" value="MAN"></el-option>
                        <el-option label="여자" value="WOMAN"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="이름" prop="memberName">
                    <el-input v-model="createRuleForm.memberName" placeholder="2~20글자 사이로 입력해주세요." ></el-input>
                </el-form-item>
                <el-form-item label="키" prop="memberHeight">
                    <el-input v-model="createRuleForm.memberHeight" placeholder="cm는 생략해주세요." ></el-input>
                </el-form-item>
                <el-form-item label="몸무게" prop="memberWeight">
                    <el-input v-model="createRuleForm.memberWeight" placeholder="kg은 생략해주세요." ></el-input>
                </el-form-item>
                <el-form-item label="운동 능력" prop="exerciseGrade">
                    <el-select v-model="createRuleForm.exerciseGrade" placeholder="운동 능력을 선택해주세요.">
                        <el-option label="초심자" value="BEGINNER"></el-option>
                        <el-option label="중급자" value="MIDDLE_CLASS"></el-option>
                        <el-option label="고인물" value="HIGH_CLASS"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div class="txt-center" style="margin-top: 20px;">
                <el-button type="primary" @click="doSetData()">등록</el-button>
                <el-button type="danger" @click="crateDialogVisible = false">취소</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    middleware: 'anonymous',
    data() {
        return {
            search: '',
            title: '회원 리스트',
            crateDialogVisible: false,
            list: [],
            totalCount: '',
            createRuleForm: {
                gender: '',
                memberName: '',
                memberHeight: '',
                memberWeight: '',
                exerciseGrade: '',
            },
            createRules: {
                gender: [
                    { required: true, message: '성별선택은 필수입니다.', trigger: 'change' }
                ],
                memberName: [
                    { required: true, message: '이름 값은 필수입니다.', trigger: 'blur' },
                    { min: 2, max: 20, message: '2~20 글자 사이로 입력해주세요.', trigger: 'blur' }
                ],
                memberHeight: [
                    { required: true, message: '키 값은 필수입니다', trigger: 'blur' },
                ],
                memberWeight: [
                    { required: true, message: '몸무게는 필수 입니다', trigger: 'blur' },
                ],
                exerciseGrade: [
                    { required: true, message: '운동능력선택은 필수입니다.', trigger: 'change' }
                ]
            }
        }
    },
    methods: {
        //post
        doSetData() {
            let formName = 'createRuleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_CREATE, this.createRuleForm)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.crateDialogVisible = false
                    this.resetForm()
                    this.getList()
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        //get
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        resetForm() {
            let form = this.createRuleForm
            form.gender = null
            form.memberName = null
            form.memberHeight = null
            form.memberWeight = null
            form.exerciseGrade = null
        },
        moveDetail(id) {
            this.$router.push(`/member/detail/${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    }
}
</script>
