<template>
    <div>
        <main-title v-bind:title="title" class="txt-center"/>
        <el-button type="success" circle @click.native="crateDialogVisible = true">등록</el-button>
        <!--        <el-button type="primary" circle @click.native="updateDialogVisible = true">수정</el-button>-->
        <div><i class="el-icon-folder-opened">총 데이터 수는 {{ totalCount }}개 입니다.</i></div>
        <el-table
            :data="list.filter(data => !search || data.exercisePart.toLowerCase().includes(search.toLowerCase())
            || data.isFinished.toLowerCase().includes(search.toLowerCase())
            || data.exerciseName.toLowerCase().includes(search.toLowerCase())
            )"
            style="width: 100%">
            <el-table-column label="id" prop="id" width="70" sortable>
            </el-table-column>
            <el-table-column label="회원 id" prop="memberId" width="100" sortable>
            </el-table-column>
            <el-table-column label="운동이름" prop="exerciseName" width="130">
            </el-table-column>
            <el-table-column label="운동부위" prop="exercisePart" width="130">
            </el-table-column>
            <el-table-column label="무게/횟수" prop="exerciseWeightSet" width="130">
            </el-table-column>
            <el-table-column label="시작 시간" prop="startExercise">
            </el-table-column>
            <el-table-column label="종료 시간" prop="finishExercise" width="130">
            </el-table-column>
            <el-table-column label="종료 여부" prop="isFinished" width="130">
            </el-table-column>
            <el-table-column align="right" width="250">
                <template slot="header" slot-scope="scope">
                    <el-input
                        v-model="search"
                        size="small"
                        placeholder="운동 부위/이름/종료여부 검색"/>
                </template>
                <template slot-scope="scope">
                    <el-button type="info" @click="moveDetail(scope.row.id)">상세보기</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog
            title="기록 등록"
            :visible.sync="crateDialogVisible"
            width="60%"
            :before-close="handleClose"
        >
            <el-form :model="createRuleForm" :rules="createRules" ref="createRuleForm" label-width="100px">
                <el-form-item label="id" prop="id">
                    <el-input v-model="createRuleForm.id" placeholder="회원 아이디를 입력해주세요"></el-input>
                </el-form-item>
                <el-form-item label="운동부위" prop="exercisePart">
                    <el-select v-model="createRuleForm.exercisePart" placeholder="운동부위를 선택해주세요">
                        <el-option label="가슴" value="CHEST"></el-option>
                        <el-option label="등" value="BACK"></el-option>
                        <el-option label="팔" value="ARMS"></el-option>
                        <el-option label="어깨" value="SHOULDER"></el-option>
                        <el-option label="하체" value="LOW_BODY"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="운동 이름" prop="exerciseName">
                    <el-input v-model="createRuleForm.exerciseName" placeholder="2~30글자 사이로 입력해주세요."></el-input>
                </el-form-item>
                <el-form-item label="운동 무게" prop="exerciseWeight">
                    <el-input v-model="createRuleForm.exerciseWeight" placeholder="숫자만 입력해주세요"></el-input>
                </el-form-item>
                <el-form-item label="운동 세트수" prop="exerciseSet">
                    <el-input v-model="createRuleForm.exerciseSet" placeholder="숫자만 입력해주세요"></el-input>
                </el-form-item>
                <el-form-item label="운동 횟수" prop="exerciseNum">
                    <el-input v-model="createRuleForm.exerciseNum" placeholder="숫자만 입력해주세요"></el-input>
                </el-form-item>
            </el-form>
            <div class="txt-center">
                <el-button type="primary" @click="doSetData()">등록</el-button>
                <el-button type="danger" @click="crateDialogVisible = false">취소</el-button>
            </div>
        </el-dialog>
        <el-dialog
            title="회원 정보수정"
            :visible.sync="updateDialogVisible"
            width="60%"
            :before-close="handleClose"
        >
            <el-form :model="updateRuleForm" :rules="updateRules" ref="updateRuleForm" label-width="100px">
                <el-form-item label="순번" prop="id">
                    <el-input v-model="updateRuleForm.id" placeholder="kg은 생략해주세요."></el-input>
                </el-form-item>
                <el-form-item label="몸무게" prop="memberWeight">
                    <el-input v-model="updateRuleForm.memberWeight" placeholder="kg은 생략해주세요."></el-input>
                </el-form-item>
                <el-form-item label="운동 능력" prop="exerciseGrade">
                    <el-select v-model="updateRuleForm.exerciseGrade" placeholder="운동 능력을 선택해주세요.">
                        <el-option label="초심자" value="BEGINNER"></el-option>
                        <el-option label="중급자" value="MIDDLE_CLASS"></el-option>
                        <el-option label="고인물" value="HIGH_CLASS"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div class="txt-center">
                <el-button type="primary" @click="UpdateData()">수정</el-button>
                <el-button type="danger" @click="updateDialogVisible = false">취소</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
export default {
    middleware: 'anonymous',
    data() {
        return {
            search: '',
            title: '운동 기록 리스트',
            crateDialogVisible: false,
            updateDialogVisible: false,
            list: [],
            totalCount: '',
            createRuleForm: {
                id: '',
                exercisePart: '',
                exerciseName: '',
                exerciseWeight: '',
                exerciseSet: '',
                exerciseNum: '',
            },
            createRules: {
                id: [
                    {required: true, message: '회원 id값은 필수 입니다.', trigger: 'blur'}
                ],
                exercisePart: [
                    {required: true, message: '운동부위는 필수입니다.', trigger: 'change'}
                ],
                exerciseName: [
                    {required: true, message: '운동 이름 값은 필수입니다.', trigger: 'blur'},
                    {min: 2, max: 20, message: '2~30 글자 사이로 입력해주세요.', trigger: 'blur'}
                ],
                exerciseWeight: [
                    {required: true, message: '운동 무게 값은 필수입니다', trigger: 'blur'},
                ],
                exerciseSet: [
                    {required: true, message: '운동 세트수는 필수 입니다', trigger: 'blur'},
                ],
                exerciseNum: [
                    {required: true, message: '운동횟수는 필수입니다.', trigger: 'change'}
                ]
            },
            updateRuleForm: {
                id: '',
                memberWeight: '',
                exerciseGrade: '',
            },
            updateRules: {
                id: [
                    {required: true, message: 'id는 필수 입니다', trigger: 'blur'},
                ],
                memberWeight: [
                    {required: true, message: '몸무게는 필수 입니다', trigger: 'blur'},
                ],
                exerciseGrade: [
                    {required: true, message: '운동능력선택은 필수입니다.', trigger: 'change'}
                ]
            }
        }
    },
    methods: {
        handleClose(done) {
            this.$confirm('정말로 닫으시겠습니까?')
                .then(_ => {
                    done();
                })
                .catch(_ => {
                });
        },
        //post
        doSetData() {
            let formName = 'createRuleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$exerciseRecordConstants.DO_CREATE, this.createRuleForm)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.crateDialogVisible = false
                    this.resetForm()
                    this.getList()
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        //get
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$exerciseRecordConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.totalCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        //put
        UpdateData() {
            let formName = 'updateRuleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putUpdateData()
                } else {
                    return false
                }
            })
        },
        async putUpdateData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_UPDATE, this.updateRuleForm)
                .then((res) => {
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.getList()
                    this.updateDialogVisible = false
                    this.$toast.success("수정되었습니다")
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.getList()
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },

        resetForm() {
            let form = this.createRuleForm
            form.exerciseName = null
            form.exercisePart = null
            form.exerciseNum = null
            form.exerciseSet = null
            form.exerciseWeight = null
        },
        moveDetail(id) {
            this.$router.push(`/member/${id}`)
        },

    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    }
}
</script>
